body {
	position: absolute;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	border: 0;
	overflow: hidden;
	background-color: black;
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 2em;
}

h2 {
	margin: 0;
	border: 0;
	padding: 0px;
	padding-left: 20%;
	font-weight: bold;
	font-size: 12em;
}

#info {
	position: fixed;
	top: 20px;
	left: 20px;
	font-size: 2em;
}

#slideshow {
	position: absolute;
	width: 100%;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 0;

	li {
		position: relative;
		width: 100%;
		height: 100%;
	}

	li:nth-child(odd) {
		background-color: indianred;
	}

	li:nth-child(even) {
		background-color: darkred;
	}
}



