body {
	margin: 0;
	padding: 10px;
	border: 0;
	background-color: black;
	color: white;
	font-family: 'Lucida Console', Courier, mono;
	font-size: 0.9em;
}

#list {
	list-style-type: none;
	margin: 0;
	padding: 0;

	.new {
		color: green;
	}

	.log {
		color: #808080;
	}

	.warn {
		color: orange;
	}

	.error {
		color: red;
	}

	li {
		&:hover {
			cursor: pointer;
		}

		span:nth-of-type(1) {
			padding: 4px;
		}

		ul {
			display: none;
		}
	}
}
