body {
	margin: 0;
	padding: 0px;
	border: 0;
	background-color: black;
	color: white;
	font-family: 'Lucida Console', Courier, mono;
	font-size: 0.9em;
}

#header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #333333;
	overflow: auto;
	font-family: Arial, sans-serif;

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;

		li {
			float: left;
			padding: 10px 20px 10px 20px;

		}

		li:nth-child(2) {
			background-color: #808080;
		}

		li:nth-child(3) {
			background-color: orange;
		}

		li:nth-child(4) {
			background-color: red;
		}
	}

	span {
		float: left;
		margin: 10px 0 0 12px;
	}

	select {
		margin: 8px 0 0 10px;
		width: 200px;
		font-size: 1.1em;
	}
}

#list {
	list-style-type: none;
	margin: 45px 0 0 10px;
	padding: 0;

	.new {
		color: green;
	}

	.log {
		color: #808080;
	}

	.warn {
		color: orange;
	}

	.error {
		color: red;
	}

	li {
		padding: 2px;

		&:hover {
			background-color: #444444;
			cursor: pointer;
		}

		span:nth-of-type(1) {
			padding: 4px;
		}

		ul {
			display: none;
		}
	}
}
