body {
  font-family: 'Helvetica Neue', Helvatica, Arial, sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  border: 0; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  ul li {
    line-height: 1.6em;
    margin-bottom: 30xopx; }

h2 {
  font-size: 1.1em; }

a {
  background-color: cornflowerblue;
  color: white;
  text-decoration: none;
  padding: 6px; }

a:hover {
  background-color: seagreen; }
