body {
  margin: 0;
  padding: 0;
  border: 0;
  background-color: black;
  color: white;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 2em; }

#timelapse {
  position: absolute;
  top: 0px;
  width: 100%;
  height: auto; }

#progress, #available-range {
  position: absolute;
  top: 0px;
  width: 100%;
  height: 10px;
  -webkit-transform-origin: 0px 0px; }

#progress {
  background-color: #800000; }

#available-range {
  background-color: #808080; }

#frame {
  position: absolute;
  top: 0px;
  padding: 10px;
  font-size: 3em;
  opacity: 0.5; }
